<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению
<center>
Автор материала: Юрий Кашницкий, программист-исследователь Mail.Ru Group <br> 

Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center>Домашнее задание № 1 (демо).<br> Анализ данных по доходу населения UCI Adult</center>

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качать данные не надо – они уже есть в репозитории). Для отправки решений используйте [онлайн-форму](https://docs.google.com/forms/d/1xAzU-5N6oEeR4UG8G44V6XL-Kbr4WYcPBG45Kijge2Y).**

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../../data/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [11]:
# Ваш код здесь
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. Каков средний возраст (признак *age*) женщин?**

In [31]:
# Ваш код здесь
data[data['sex'] == 'Female']['age'].mean()

36.85823043357163

**3. Какова доля граждан Германии (признак *native-country*)?**

In [15]:
# Ваш код здесь
len(data[data['native-country'] == 'Germany']) / len(data)

0.004207487485028101

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [34]:
# Ваш код здесь
import math
data[data['salary'] == '>50K']['age'].mean(), \
math.sqrt((data[data['salary'] == '>50K']['age'] - data[data['salary'] == '>50K']['age'].mean()).pow(2).mean()), \
data[data['salary'] == '<=50K']['age'].mean(), \
math.sqrt((data[data['salary'] == '<=50K']['age'] - data[data['salary'] == '>50K']['age'].mean()).pow(2).mean()), \

(44.24984058155847, 10.51835692766163, 36.78373786407767, 15.88387923353948)

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [35]:
# Ваш код здесь
data[data['salary'] == '>50K']['education'].value_counts()

Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: education, dtype: int64

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [43]:
# Ваш код здесь
for name, group in data.groupby(['race', 'sex']):
    print('----------------------------' + str(name) + '-------------------------------')
    print(group.describe())

----------------------------('Amer-Indian-Eskimo', 'Female')-------------------------------
              age         fnlwgt  education-num  capital-gain  capital-loss  \
count  119.000000     119.000000     119.000000    119.000000    119.000000
mean    37.117647  112950.731092       9.697479    544.605042     14.462185
std     13.114991   93207.974077       2.334540   2451.591587    157.763811
min     17.000000   12285.000000       2.000000      0.000000      0.000000
25%     27.000000   31387.000000       9.000000      0.000000      0.000000
50%     36.000000   87950.000000      10.000000      0.000000      0.000000
75%     46.000000  163027.500000      11.000000      0.000000      0.000000
max     80.000000  445168.000000      16.000000  15024.000000   1721.000000

       hours-per-week
count      119.000000
mean        36.579832
std         11.046509
min          4.000000
25%         35.000000
50%         40.000000
75%         40.000000
max         84.000000
----------------------------('Amer-Indian-Eskimo', 'Male')-------------------------------
              age         fnlwgt  education-num  capital-gain  capital-loss  \
count  192.000000     192.000000     192.000000    192.000000    192.000000
mean    37.208333  125715.364583       9.072917    675.260417     46.395833
std     12.049563   85063.251595       2.268587   2929.745443    286.562584
min     17.000000   13769.000000       2.000000      0.000000      0.000000
25%     28.000000   48197.750000       9.000000      0.000000      0.000000
50%     35.000000  113091.000000       9.000000      0.000000      0.000000
75%     45.000000  182656.000000      10.000000      0.000000      0.000000
max     82.000000  356015.000000      16.000000  27828.000000   1980.000000

       hours-per-week
count      192.000000
mean        42.197917
std         11.596280
min          3.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         84.000000
----------------------------('Asian-Pac-Islander', 'Female')-------------------------------
              age         fnlwgt  education-num  capital-gain  capital-loss  \
count  346.000000     346.000000     346.000000    346.000000    346.000000
mean    35.089595  147452.075145      10.390173    778.436416     50.852601
std     12.300845   76401.627757       2.796647   7675.228631    296.529225
min     17.000000   19914.000000       1.000000      0.000000      0.000000
25%     25.000000   86879.250000       9.000000      0.000000      0.000000
50%     33.000000  131986.000000      10.000000      0.000000      0.000000
75%     43.750000  175705.750000      13.000000      0.000000      0.000000
max     75.000000  379046.000000      15.000000  99999.000000   2258.000000

       hours-per-week
count      346.000000
mean        37.439306
std         12.479459
min          1.000000
25%         35.000000
50%         40.000000
75%         40.000000
max         99.000000
----------------------------('Asian-Pac-Islander', 'Male')-------------------------------
              age         fnlwgt  education-num  capital-gain  capital-loss  \
count  693.000000     693.000000     693.000000    693.000000    693.000000
mean    39.073593  166175.865801      11.245310   1827.813853    120.373737
std     12.883944   88552.952600       2.777463  10947.525528    472.917697
min     18.000000   14878.000000       1.000000      0.000000      0.000000
25%     29.000000   98350.000000       9.000000      0.000000      0.000000
50%     37.000000  147719.000000      11.000000      0.000000      0.000000
75%     46.000000  200117.000000      13.000000      0.000000      0.000000
max     90.000000  506329.000000      16.000000  99999.000000   2457.000000

       hours-per-week
count      693.000000
mean        41.468975
std         12.387563
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000
----------------------------('Black', 'Female')-------------------------------
               age         fnlwgt  education-num  capital-gain  capital-loss  \
count  1555.000000    1555.000000    1555.000000   1555.000000   1555.000000
mean     37.854019  212971.387781       9.549839    516.593569     45.450804
std      12.637197  109971.263983       2.207815   5312.749129    299.099591
min      17.000000   19752.000000       1.000000      0.000000      0.000000
25%      28.000000  142666.500000       9.000000      0.000000      0.000000
50%      37.000000  193553.000000       9.000000      0.000000      0.000000
75%      46.000000  253759.000000      10.000000      0.000000      0.000000
max      90.000000  930948.000000      16.000000  99999.000000   4356.000000

       hours-per-week
count     1555.000000
mean        36.834084
std          9.419960
min          2.000000
25%         35.000000
50%         40.000000
75%         40.000000
max         99.000000
----------------------------('Black', 'Male')-------------------------------
               age        fnlwgt  education-num  capital-gain  capital-loss  \
count  1569.000000  1.569000e+03    1569.000000   1569.000000   1569.000000
mean     37.682600  2.429206e+05       9.423199    702.454430     75.186106
std      12.882612  1.341460e+05       2.382841   4962.113183    370.976546
min      17.000000  2.185600e+04       1.000000      0.000000      0.000000
25%      27.000000  1.564100e+05       9.000000      0.000000      0.000000
50%      36.000000  2.211960e+05       9.000000      0.000000      0.000000
75%      46.000000  2.986010e+05      10.000000      0.000000      0.000000
max      90.000000  1.268339e+06      16.000000  99999.000000   2824.000000

       hours-per-week
count     1569.000000
mean        39.997451
std         10.909413
min          1.000000
25%         40.000000
50%         40.000000
75%         40.000000
max         99.000000
----------------------------('Other', 'Female')-------------------------------
              age         fnlwgt  education-num  capital-gain  capital-loss  \
count  109.000000     109.000000     109.000000    109.000000    109.000000
mean    31.678899  172519.642202       8.899083    254.669725     36.284404
std     11.631599   77766.666801       3.027482   1317.326460    231.796929
min     17.000000   24562.000000       2.000000      0.000000      0.000000
25%     23.000000  119890.000000       7.000000      0.000000      0.000000
50%     29.000000  171199.000000       9.000000      0.000000      0.000000
75%     39.000000  219441.000000      10.000000      0.000000      0.000000
max     74.000000  388741.000000      14.000000   7688.000000   1740.000000

       hours-per-week
count      109.000000
mean        35.926606
std         10.300761
min          6.000000
25%         30.000000
50%         40.000000
75%         40.000000
max         65.000000
----------------------------('Other', 'Male')-------------------------------
              age         fnlwgt  education-num  capital-gain  capital-loss  \
count  162.000000     162.000000     162.000000    162.000000    162.000000
mean    34.654321  213679.104938       8.802469   1392.185185     77.746914
std     11.355531   92187.362738       3.361897  11093.711595    370.986720
min     17.000000   25610.000000       1.000000      0.000000      0.000000
25%     26.000000  150726.750000       8.000000      0.000000      0.000000
50%     32.000000  208516.500000       9.000000      0.000000      0.000000
75%     42.000000  253334.750000      10.000000      0.000000      0.000000
max     77.000000  481175.000000      16.000000  99999.000000   2179.000000

       hours-per-week
count      162.000000
mean        41.851852
std         11.084779
min          5.000000
25%         40.000000
50%         40.000000
75%         40.000000
max         98.000000
----------------------------('White', 'Female')-------------------------------
               age        fnlwgt  education-num  capital-gain  capital-loss  \
count  8642.000000  8.642000e+03    8642.000000   8642.000000   8642.000000
mean     36.811618  1.835500e+05      10.127980    573.610391     65.390535
std      14.329093  1.017103e+05       2.368115   4763.131649    352.330817
min      17.000000  1.939500e+04       1.000000      0.000000      0.000000
25%      25.000000  1.159148e+05       9.000000      0.000000      0.000000
50%      35.000000  1.758105e+05      10.000000      0.000000      0.000000
75%      46.000000  2.248365e+05      12.000000      0.000000      0.000000
max      90.000000  1.484705e+06      16.000000  99999.000000   4356.000000

       hours-per-week
count     8642.000000
mean        36.296691
std         12.190951
min          1.000000
25%         30.000000
50%         40.000000
75%         40.000000
max         99.000000
----------------------------('White', 'Male')-------------------------------

                age        fnlwgt  education-num  capital-gain  capital-loss  \
count  19174.000000  1.917400e+04   19174.000000  19174.000000  19174.000000
mean      39.652498  1.889874e+05      10.138521   1368.674455    102.261343
std       13.436029  1.037146e+05       2.656464   8442.830669    434.156936
min       17.000000  1.882700e+04       1.000000      0.000000      0.000000
25%       29.000000  1.173810e+05       9.000000      0.000000      0.000000
50%       38.000000  1.786625e+05      10.000000      0.000000      0.000000
75%       49.000000  2.368588e+05      13.000000      0.000000      0.000000
max       90.000000  1.455435e+06      16.000000  99999.000000   3770.000000

       hours-per-week
count    19174.000000
mean        42.668822
std         12.194633
min          1.000000
25%         40.000000
50%         40.000000
75%         50.000000
max         99.000000

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [48]:
# Ваш код здесь
data[(data['salary'] == '>50K') & (data['sex'] == 'Male')]['marital-status'].value_counts()

Married-civ-spouse       5938
Never-married             325
Divorced                  284
Separated                  49
Widowed                    39
Married-spouse-absent      23
Married-AF-spouse           4
Name: marital-status, dtype: int64

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [58]:
# Ваш код здесь
data['hours-per-week'].max(), \
len(data[data['hours-per-week'] == data['hours-per-week'].max()]), \
len(data[(data['hours-per-week'] == data['hours-per-week'].max()) & (data['salary'] == '>50K')]) / len(data[data['hours-per-week'] == data['hours-per-week'].max()])

(99, 85, 0.29411764705882354)

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [61]:
# Ваш код здесь
for name, group in data[data['native-country'] == 'Japan'].groupby(['salary', 'native-country']):
    print('----------------------------' + str(name) + '-------------------------------')
    print(group.describe())

----------------------------('<=50K', 'Japan')-------------------------------
             age         fnlwgt  education-num  capital-gain  capital-loss  \
count  38.000000      38.000000      38.000000     38.000000     38.000000
mean   35.315789  197242.526316      10.710526    201.473684     41.842105
std     9.392652  110715.684538       1.844025    702.340248    257.932060
min    19.000000   29807.000000       9.000000      0.000000      0.000000
25%    29.000000  136372.250000       9.000000      0.000000      0.000000
50%    34.000000  167426.000000      10.000000      0.000000      0.000000
75%    41.000000  249460.000000      13.000000      0.000000      0.000000
max    61.000000  536725.000000      14.000000   2885.000000   1590.000000

       hours-per-week
count       38.000000
mean        41.000000
std         11.902759
min         10.000000
25%         40.000000
50%         40.000000
75%         41.500000
max         65.000000
----------------------------('>50K', 'Japan')-------------------------------
             age         fnlwgt  education-num  capital-gain  capital-loss  \
count  24.000000      24.000000      24.000000     24.000000     24.000000
mean   42.875000  167433.708333      12.583333   6258.750000     82.375000
std     6.771504  131000.388697       2.357535  20485.668768    403.553435
min    33.000000   22201.000000       6.000000      0.000000      0.000000
25%    37.750000   81099.750000      12.750000      0.000000      0.000000
50%    41.000000  124334.000000      13.000000      0.000000      0.000000
75%    47.250000  195285.000000      14.000000   1196.750000      0.000000
max    56.000000  586657.000000      16.000000  99999.000000   1977.000000

       hours-per-week
count       24.000000
mean        47.958333
std         16.120414
min         21.000000
25%         40.000000
50%         42.500000
75%         50.000000
max         99.000000